   <html>
    <head>
        <title>crude operation</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <div class="form-data">
              <a href="/" ><button>Add useer</button></a> 
               <h4>{{msg}}</h4> 
                <form action="/save" method="post">
<input type="text" name="name" placeholder="name" id="name"/> 
<input type="number" name="age" placeholder="age" id="age"/>
<input type="number" name="number" placeholder="number" id="number"/>
<button type="submit">submit</button>
                </form>
            </div>
             </body>
</html>